<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Патничко осигурување</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="card border-primary mb-3" style="max-width: 50rem;">
        <div class="card-header">Патничко осигурување</div>
        <div class="card-body">
          <div class="container text-center">
            <form id="travelHealthForm" th:action="@{/insurance/travelPost}" th:object="${travelInfo}"
                method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group">
                    <label for="selectType" class="form-label mt-4">Тип на полиса</label>
                    <select class="form-select" id="selectType" th:field="*{type}">
                      <option value="INDIVIDUAL">Индивидуална</option>
                      <option value="FAMILY">Фамилијарна</option>
                      <option value="STUDENT">Студент</option>
                      <option value="GROUP">Групна</option>
                      <option value="BUSINESS">Бизнис</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="selectCover" class="form-label mt-4">Тип на покритие</label>
                    <select class="form-select" id="selectCover" th:field="*{cover}" required> 
                      <option value="VISA">ВИЗА</option>
                      <option value="CLASSIC">КЛАСИК</option>
                      <option value="VIP">ВИП</option>
                    </select>
                  </div>
                 <div class="form-group row">
                    <label class="col-4 col-form-label">Осигурани денови</label>
                    <div class="col-8">
                        <input type="number" th:field="*{days}" class="form-control" th:value = "${daysUpdate}" min=3 max=365 required/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-4 col-form-label">Number of insurers</label>
                    <div class="col-8">
                        <input id = "numPeople" type="number" th:field="*{numPeople}" class="form-control" min=1 max=10 required/>
                    </div>
                  </div>
                <div>
                    <button id="submit-form" type="submit" class="btn btn-primary">Calculate</button>
                </div>
            </div>
            </form>
            <div>
              <p th:text="${messageTravel}"></p>
              <p th:text="${premiumTravel}"></p>
            </div>
        </div>

        </div>
      </div>
</body>
</html>